<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<style>
    /*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-276 {
        padding: var(--sectionPadding);
    }
    #steps-276 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #steps-276 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #steps-276 .cs-title {
        max-width: 20ch;
    }
    #steps-276 .cs-card-group {
        padding: 0;
        margin: 0;
        width: 100%;
        /* changes to 1100px at tablet */
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: relative;
    }
    #steps-276 .cs-card-group:before {
        /* list line connector */
        content: "";
        width: 1px;
        background: #1a1a1a;
        opacity: 1;
        position: absolute;
        display: block;
        /* no height, set it as a top to bottom.  
                It will grow with newly added text in the .cs-item-text */
        top: 1rem;
        bottom: 1.5rem;
        left: 3.5rem;
    }
    #steps-276 .cs-item {
        text-align: left;
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #steps-276 .cs-number {
        /* 16px - 20px */
        font-size: clamp(1rem, 2vw, 1.25rem);
        font-weight: 700;
        margin-right: 2.75rem;
        /* 40px - 52px */
        width: clamp(2.5rem, 5.1vw, 3.25rem);
        height: clamp(2.5rem, 5.1vw, 3.25rem);
        border-radius: 50%;
        color: var(--bodyTextColorWhite);
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        position: relative;
    }
    #steps-276 .cs-number:before {
        /* list circle */
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background: #1a1a1a;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        top: 50%;
        right: -1.25rem;
        transform: translateY(-50%);
    }
    #steps-276 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(1.275rem, 2vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
    }
   
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-276 {margin-top: 100px;}
    #steps-276 .cs-container {
        max-width: 80rem;
    }
    #steps-276 .cs-card-group {
        max-width: 68.75rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 2em;
    }
    #steps-276 .cs-card-group:before {
        /* reset width */
        width: auto;
        height: 1px;
        /* 60px - 76px */
        top: clamp(3.75rem, 7.5vw, 4.75rem);
        /* 80px - 110px */
        left: clamp(5rem, 10.5vw, 6.875rem);
        right: clamp(5rem, 10.5vw, 6.875rem);
    }
    #steps-276 .cs-item {
        text-align: center;
        width: 13.625rem;
        /* remove margin from mobile */
        margin: 0;
        /* orient to vertical spacing */
        flex-direction: column;
        align-items: center;
    }
    #steps-276 .cs-number {
        margin: 0;
        /* 40px - 60px */
        margin-bottom: clamp(2.5rem, 6vw, 3.75rem);
    }
    #steps-276 .cs-number:before {
        top: auto;
        left: 50%;
        /* -24px to -28px */
        /* use calc() to multiply clamp value by -1 to get a negative clamp value */
        bottom: calc(clamp(1.5rem, 2.9vw, 1.75rem) * -1);
        transform: translateX(-50%);
    }
}

                                
</style>



<section id="steps-276">
  

    <div class="cs-container">
        

       
        <div class="cs-content">
            
            <h2 class="cs-title">We make it easy</h2>
            <p class="cs-text">
                Get your new website launched and running in as little as 7 days
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">1</span>
                
                <h2 class="cs-item-text">Sign Up or Get in Touch</p>

          </li>

            <li class="cs-item">
                <span class="cs-number">2</span>
                
                    <H2 class="cs-item-text">Website Design & Development</H2>

                 
            </li>

            <li class="cs-item">
                <span class="cs-number">3</span>
                
                    <H2 class="cs-item-text">Feedback & Revisions</H2>

                 
            </li>

            <li class="cs-item">
                <span class="cs-number">4</span>
                
                    <H2 class="cs-item-text">Website Launch Day</H2>

                  
            </li>

            <li class="cs-item">
                <span class="cs-number">5</span>
                
                    <H2 class="cs-item-text">Lifetime Website Maintainence</H2>

               
            </li>
            
        </ul>
       
    </div>

    <DIV style="text-align: center; margin-top: 100px;">
    {% include 'components/ctabutton.html' %}
</DIV>
</section>


{% include 'components/featuredwork.html' %}
                     

