---
title: 'Professional Web Design | Done for You Websites – Design Gandalf'
description: 'Struggling with an outdated website? We create beautiful, high converting websites with full management so you can focus on your business'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

  
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

{% include 'components/hero_new.html' %}
<SPAN id="moreinfo"></SPAN>
{% include 'components/featuredwork.html' %}

{% include 'components/3problems.html' %}




{% include 'components/2success.html' %}




{% include 'components/4valueproposition.html' %}
{% include 'components/steps.html' %}



{% include 'components/faq.html' %}



{% include 'components/pricing.html' %}


{% include 'components/testimonials.html' %}




{% endblock %}
